<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sporty Shoes</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<br>
	<br>
	<h6 style="color:red;text-align:center" th:text="${action}"></h6>
	<br>
	<div class="container" style="text-align:right">
		<a th:href="@{/changePassword}" class="btn btn-primary btn-sm mb-3">Change Password</a>
		<a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3">Logout</a> 
		<!-- <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Main Home Page</a> -->
	</div>
	<br>
	<br>
	<hr>
	<br>
	<br>
	<div class="container" style="text-align:center">
		<a th:href="@{/manageProduct}" class="btn btn-primary btn-sm mb-3">Manage Products</a>
		<a th:href="@{/manageCustomer}" class="btn btn-primary btn-sm mb-3">Manage Customers</a> 
		<a th:href="@{/managePurchase}" class="btn btn-primary btn-sm mb-3">Manage Purchase</a>
	</div>
</body>
</html>